body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
}

#canvas {
    background-color: whitesmoke;
    width: 950px;
    height: 600px;
}

.county {
    opacity: 1;
    transition: opacity 750ms ease-out;
}

.county:hover {
    opacity: .3;
    transition: opacity 100ms ease-out;
}